
 /*
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

html,body{
	height: 100%;
	background-image: image-url("jojo.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
    background-attachment: fixed;
}


#notice {
color: #000 !important;
border: 2px solid red;
padding: 1em;
margin-bottom: 2em;
background-color: #f0f0f0;
font: bold smaller sans-serif;
}


#columns {
	#main {
		margin-left: 17em;
		padding: 1em;
		background-color: rgba(255, 255, 255, 0.9);
		height: 100%;
	}
	#side {
		float: left;
		width: 17em;
		border-style: groove;
		border-width: 0px 1px 0px 0px;
		form, div {display: inline;}
		input {font-size: small;}
	}
}